- importo il file csv scaricato da Kaggle

In [6]:
import pandas as pd
df = pd.read_csv('E:\epicode\dati energia\kaggle\World Energy Consumption.csv')

- esploro il dataset

In [9]:
df.describe()

,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,energy_cons_change_twh,biofuel_share_elec,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
count,17432.000000,7445.000000,10394.000000,4.862000e+03,7893.000000,6521.000000,8565.000000,9842.00000,9892.000000,4206.000000,...,5499.000000,4290.000000,1.045600e+04,6076.000000,1543.000000,4284.000000,4207.000000,4290.000000,5499.000000,4290.000000
mean,1973.094367,20.830774,8.798102,1.921623e+14,14.369018,18.242190,18.033792,inf,36.853247,1.549155,...,14.776571,29.375128,5.417833e+11,1.006011,313.478014,0.345406,2.163830,15.080935,53.625783,134.003056
std,34.333995,697.178744,135.503698,1.339910e+16,85.415649,335.492675,169.610587,NaN,267.425811,3.544546,...,58.750432,127.852638,4.083842e+12,3.680550,6836.857935,1.337962,17.013149,126.674141,209.543489,513.368047
min,1900.000000,-100.000000,-2326.870000,-1.000000e+02,-1054.320000,-100.000000,-2239.737000,-92.63200,-6083.407000,0.000000,...,0.000000,0.000000,1.963080e+08,0.000000,-100.000000,0.000000,-10.409000,0.000000,0.000000,0.000000
25%,1946.000000,-1.532000,0.000000,0.000000e+00,0.000000,-1.429000,0.000000,-0.43075,-0.044000,0.000000,...,0.000000,0.000000,1.253804e+10,0.000000,2.159500,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1983.000000,0.000000,0.000000,2.583500e+00,0.000000,0.278000,0.000000,2.56700,0.735500,0.021500,...,0.000000,0.000000,4.281649e+10,0.000000,19.749000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2002.000000,7.690000,0.334000,9.703500e+00,2.559000,9.091000,3.222000,6.87650,10.328250,1.362750,...,0.794000,0.295500,1.750000e+11,0.108250,50.000000,0.020000,0.010000,0.141000,3.046500,4.744750
max,2020.000000,44965.754000,3060.593000,9.342930e+17,2112.975000,25500.000000,2790.614000,inf,6446.809000,33.912000,...,825.094000,1763.675000,1.070000e+14,56.338000,242384.843000,20.660000,428.736000,3540.051000,2825.425000,6928.363000

In [11]:
df.shape

(17432, 122)

In [12]:
df.head(5)

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- controllo la presenza dei valori nulli e il loro impatto sul totale dei dati

In [4]:
df.isnull().sum()

iso_code                   1802
country                       0
year                          0
coal_prod_change_pct       9987
coal_prod_change_twh       7038
                          ...
wind_share_energy         13148
wind_cons_change_twh      13225
wind_consumption          13142
wind_elec_per_capita      11933
wind_energy_per_capita    13142
Length: 122, dtype: int64

In [5]:
df.notnull().sum()

iso_code                  15630
country                   17432
year                      17432
coal_prod_change_pct       7445
coal_prod_change_twh      10394
                          ...
wind_share_energy          4284
wind_cons_change_twh       4207
wind_consumption           4290
wind_elec_per_capita       5499
wind_energy_per_capita     4290
Length: 122, dtype: int64

In [7]:
valori_mancanti=df.isna().sum() / len(df) * 100
valori_mancanti.sort_values(ascending=False)
valori_mancanti_df=pd.DataFrame(valori_mancanti)
valori_mancanti_df.head(10)

                                0
iso_code                10.337311
country                  0.000000
year                     0.000000
coal_prod_change_pct    57.291189
coal_prod_change_twh    40.374025
gas_prod_change_pct     72.108765
gas_prod_change_twh     54.721202
oil_prod_change_pct     62.591785
oil_prod_change_twh     50.866223
energy_cons_change_pct  43.540615

- cerco le countries presenti (in maniera univoca) nel set di dati. Da questa lista estraggo poi quelle di interesse.

In [13]:
df['country'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia Pacific', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'CIS', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Central America',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Czechoslovakia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Eastern Africa', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'Europe (other)',
       'Faeroe Islands', 'Falkland Islands ', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macau',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Middle Africa',
       'Middle East', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'OPEC', 'Oman',
       'Other Asia & Pacific', 'Other CIS', 'Other Caribbean',
       'Other Middle East', 'Other Northern Africa',
       'Other South America', 'Other Southern Africa', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia',
       'South & Central America', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'USSR', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Pacific Islands',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Western Africa', 'Western Sahara',
       'World', 'Yemen', 'Yugoslavia', 'Zambia', 'Zimbabwe'], dtype=object)

- seleziono alcune colonne per creare un set customizzato e piÃ¹ piccolo rispetto quello iniziale

In [7]:
df=df[['country','year','energy_per_gdp', 'energy_per_capita','gdp', 'population']]

- scelgo di analizzare i Paesi dell' OPEC e alcuni extra ( Stati Uniti, Giappone, India, Canada, Cina, Russia)

In [8]:
df=df[df['year']>=2000]
countries=['Algeria','Angola', 'Congo', 'Equatorial Guinea', 'Gabon', 'Iran', 'Iraq', 'Kuwait','Lybia', 'Nigeria', 'Saudi Arabia',
           'United Arab Emirates', 'Venezuela','United States','Japan','India', 'Canada', 'China', 'Russia']
filtro_countries = df.loc[:, "country"].isin(countries)
df = df.loc[filtro_countries]

In [9]:
df

,country,year,energy_per_gdp,energy_per_capita,gdp,population
460,Algeria,2000,1.190,9662.271,2.520000e+11,31042000.0
461,Algeria,2001,1.233,9881.754,2.520000e+11,31452000.0
462,Algeria,2002,1.210,10106.442,2.660000e+11,31855000.0
463,Algeria,2003,1.166,10441.229,2.890000e+11,32264000.0
464,Algeria,2004,1.136,10697.854,3.080000e+11,32692000.0
...,...,...,...,...,...,...
16683,Venezuela,2015,1.895,30422.200,4.830000e+11,30082000.0
16684,Venezuela,2016,2.097,27817.912,3.960000e+11,29851000.0
16685,Venezuela,2017,NaN,26974.738,NaN,29402000.0
16686,Venezuela,2018,NaN,23598.421,NaN,28887000.0
16687,Venezuela,2019,NaN,21691.926,NaN,28516000.0

- esporto il file in csv per poi utilizzarlo in power bi

In [10]:
df.to_csv('E:\epicode\dati energia\kaggle\mondiali_other.csv')

- richiamo il file salvato per fare un controllo dei valori NaN

In [11]:
import pandas as pd
df = pd.read_csv('E:\epicode\dati energia\kaggle\mondiali_other.csv')

In [12]:
df.isnull().sum()

Unnamed: 0            0
country               0
year                  0
energy_per_gdp       62
energy_per_capita    23
gdp                  62
population            8
dtype: int64

In [13]:
df.notnull().sum()

Unnamed: 0           368
country              368
year                 368
energy_per_gdp       306
energy_per_capita    345
gdp                  306
population           360
dtype: int64